<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="\static\convert.css">
	<title>Convert</title>
</head>
<body>
	<img src="static\logo3.png" alt="Company logo" width="120" height="120" style="border-radius: 25px;"><br><br><br><br><br>
	<div style="text-align: center">
		<form action="/fileconvert" method="post">
             <p>Select format:</p> <select name="format">
                 <option value="pdf" name="pdf">PDF</option>
                 <option value="docx" name="docx">DOCX</option>
             </select><br><br>
             <input type="submit" id="button1" value="Format">
         </form>
    </div>
</body>
</html>